<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<body>
    <div th:fragment="list(searchesList)">

        <div th:if="${not #lists.isEmpty(searchesList)}">
            <p><strong>Últimas 10 búsquedas</strong></p>
            <ul>
                <li th:each="search : ${searchesList}">
                    <a th:href="@{/(query=${search.queryString})}">
                        <span th:text="${search.name}">Nombre</span>
                    </a>
                </li>
            </ul>
        </div>

    </div>
</body>
</html>