<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<body>

    <div th:fragment="show(weatherInfo)">
        <div class="alert alert-light" role="alert" th:if="${not weatherInfo.hasData()}">
          No se han encontrado resultados para la búsqueda. Prueba otra.
        </div>
        <div th:if="${weatherInfo.hasData()}">
          <h1><span th:text="${weatherInfo.name}">Location name</span> (<span th:text="${weatherInfo.countryCode}"></span>)</h1>

          <div class="row">
            <div class="col">
              Zona horaria:
            </div>
            <div class="col ml-5" th:text="${weatherInfo.timezoneId}"></div>
            <div class="col p-0"> </div>
          </div>
          <div class="row">
            <div class="col">
              Temperatura:
            </div>
            <div class="col ml-5">
              <span th:text="${weatherInfo.temperature}"></span>&#8451;
            </div>
            <div class="progress col-sm-12 col-md p-md-0 p-sm-15 m-sm-15 m-md-0">
              <div id="temperatureBar" class="progress-bar progress-bar-striped progress-bar-animated"
                  role="progressbar" style="width: 0%; background-color: transparent;">
                <span th:text="${weatherInfo.temperature} + '&#8451;'"></span>
              </div>
            </div>
          </div>

          <div th:replace="components/map::show(${weatherInfo.map})"></div>

        </div>
    </div>

    <script th:inline="javascript" th:fragment="javascript">

    $( document ).ready(function() {
        var temperature = /*[[${weatherInfo.percentage}]]*/ 100;
        var temperatureColor = /*[[${weatherInfo.temperatureColor}]]*/ "transparent";
        $("#temperatureBar")
          .animate({
            width: temperature + "%",
            backgroundColor: temperatureColor
          }, {
            duration: 600,
            easing: 'linear'
          });
    });

    </script>
</body>
</html>