<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Weather service</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
          integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
          crossorigin="anonymous">

    <link href="styles.css" rel="stylesheet">

  </head>
  <body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <a class="navbar-brand" href="#">weather-service</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <span id="logger-user" class="ml-auto mr-3 navbar-text">
            Usuario: <span sec:authentication="name">username</span>
        </span>

        <a class="btn btn-primary" href="/logout" role="button">Salir</a>
      </div>
    </nav>

    <main role="main" class="container-fluid">

        <div class="row mt-4">
          <div class="col">
            <form class="form-inline my-2 my-lg-0" method="get" th:action="@{/}" th:object="${searchCommand}">
    
              <input class="form-control mr-sm-2" type="text" placeholder="Buscar"
                  aria-label="Search" th:field="*{query}" autofocus="autofocus">
    
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
            </form>
          </div>
        </div>

        <div class="row mt-4 justify-content-end">
            <div class="col-sm-12 col-md-8 mr-md-auto" th:if="${existsQuery}">
                <div th:replace="components/weather-info::show(${weatherInfo})"></div>
            </div>
            <div class="col-sm-12 col-md-8 mr-md-auto" th:if="${exceptionInfo}">
                <div class="alert alert-warning" role="alert">
                  Error: <span th:text="${exceptionInfo.message}"></span>
                </div>
            </div>
            <div class="col-sm-12 col-md-2">
                <div th:replace="components/weather-search-list::list(${lastSearches})"></div>
            </div>
        </div>

    </main>
    <!-- /.container -->

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/color/jquery.color-2.1.2.min.js"crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

    <div th:if="${existsQuery}">
        <script th:replace="components/weather-info::javascript" ></script>
    </div>

  </body>
</html>